{% extends "layout.njk" %}

{%block content %}
    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/88152105/800x000) no-repeat center center / cover"></section>

        <section class="details">
            <h3 class="title-primary">Detalhes</h3>

            <div class="item">
                <h4 class="title-details">Instrutor</h4>
                <p class="text">Gustavo Azevedo</p>
            </div>

            <div class="item">
                <h4 class="title-details">Idade</h4>
                <p class="text">22</p>
            </div>

            <div class="item">
                <h4 class="title-details">Sexo</h4>
                <p class="text">Masculino</p>
            </div>

            <div class="item">
                <h4 class="title-details">Acompanhamento</h4>
                <ul class="lista-details">
                    <li class="list-detail-item text">Muscullação</li>
                    <li class="list-detail-item text">Cardio</li>
                </ul>
            </div>

            <div class="item">
                <h4 class="title-details">Desde</h4>
                <p class="text">02/02/2020</p>
            </div>

        </section>
    </div>
{%endblock content %}